/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #354c6f;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.student-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.student-card img {
    max-width: 100%;
    border-radius: 50%;
}

.student-card h2 {
    color: #354c6f;
    margin: 10px 0;
}

.student-card p {
    color: #777;
    margin: 5px 0;
}
